Django==3.*
django-crispy-forms
django-tinymce
django-bleach
django-compressor
django-cleanup
django-debug-toolbar
django-select2
dj-static
python-dateutil
Pillow
Faker
mypy
django-stubs
django-imagekit
social-auth-app-django
psycopg2
mock
freezegun
