django-admin-sortable2==0.7.8
django-bleach==0.6.1
django-cleanup==5.1.0
django-crispy-forms==1.11.1
django-debug-toolbar==3.2
django-imagekit==4.0.2
django-select2==7.6.2
django-sendfile2==0.6.0
django-tinymce==3.2.0
Django==3.1.8
Faker==6.6.2
Pillow==8.1.2
psycopg2==2.8.6
python-dateutil==2.8.1
social-auth-app-django==4.0.0
