Django==3.1.5
django-crispy-forms==1.10.0
django-tinymce==3.2.0
django-bleach==0.6.1
django-cleanup==5.1.0
django-debug-toolbar==3.2
django-select2==7.6.0
dj-static==0.0.6
social-auth-app-django==4.0.0
django-admin-sortable2==0.7.7
django-imagekit==4.0.2
Pillow==8.1.0
python-dateutil==2.8.1
Faker==5.6.0
psycopg2==2.8.6

mock==4.0.3
freezegun==1.0.0
coverage==5.3.1
django-coverage-plugin==1.8.0

mypy==0.790
django-stubs==1.7.0
