{% load wwwtags %}

<table class="table table-striped m-0">
  <colgroup>
    <col style="width: 40%;">
    <col style="width: 60%;">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Warsztaty</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for workshop in your_workshops %}
    <tr>
      <th scope="row">
        <a href="{% url 'workshop_edit' workshop.year.pk workshop.name %}">
          {{ workshop.title }}
        </a>
      </th>
      <td>
        {% if workshop.status == 'Z' %}
          <span class="text-success font-weight-bolder"> {{ workshop.get_status_display }} </span>
          {% if workshop.is_workshop_editable %}
            {% if not workshop.page_content_is_public %}
              <br><span class="text-warning"><i class="fas fa-exclamation-circle"></i> Uzupełnij stronę warsztatów!</span>
            {% endif %}
            {% if workshop.is_qualifying and not workshop.qualification_problems %}
              <br><span class="text-warning"><i class="fas fa-exclamation-circle"></i> Uzupełnij zadania kwalifikacyjne!</span>
            {% endif %}
            {% if workshop.is_qualifying and not workshop.qualification_threshold %}
              <br><span class="text-warning"><i class="fas fa-exclamation-circle"></i> Sprawdzaj rozwiązania zadań, i uzupełnij próg kwalifikacji!</span>
            {% endif %}
          {% endif %}
        {% elif workshop.status == 'O' %}
          <span class="text-danger font-weight-bolder"> {{ workshop.get_status_display }} </span>
        {% elif workshop.status == 'X' %}
          <span class="text-info font-weight-bolder"> {{ workshop.get_status_display }} </span>
        {% elif not workshop.status %}
          <span class="text-warning font-weight-bolder"> Zgłoszone </span>
        {% else %}
          {{ workshop.get_status_display }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>