{% extends "wwwapp_base.html" %}

{% block content %}
    <article>
      <h1>{% block workshop_page_title %}{{ title }}{% endblock %}</h1>

      {% if workshop %}
        <h3>Prowadzący: {% for lecturer in workshop.lecturer.all %}<a href="{% url 'profile' lecturer.user.id %}">{{ lecturer }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
        {% if workshop.status == 'X' %}
          <h3 class="text-danger">Te warsztaty są odwołane!</h3>
        {% endif %}

        {% if has_perm_to_view_details and workshop.is_publicly_visible %}
          <nav class="mb-3">
            <ul class="nav nav-pills nav-fill flex-column flex-lg-row">
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.view_name == 'workshop_page' %}active{% endif %}"
                   href="{% url 'workshop_page' workshop.year.pk workshop.name %}">
                  Strona warsztatów
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.view_name == 'workshop_edit' %}active{% endif %}"
                   href="{% url 'workshop_edit' workshop.year.pk workshop.name %}">
                  Edycja warsztatów
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.view_name == 'workshop_participants' %}active{% endif %}"
                   href="{% url 'workshop_participants' workshop.year.pk workshop.name %}">
                  {% if workshop.is_qualifying %}
                    Uczestnicy i ocenianie
                  {% else %}
                    Uczestnicy
                  {% endif %}
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}

        <hr>
      {% endif %}

      {% block workshop_page_content %}
      {% endblock %}
    </article>
{% endblock %}