.not-qualified {
    color: red;
    font-weight: bolder;
}

.maybe-qualified {
    color: purple;
    font-weight: bolder;
}

.waiting-qualified {
    color: orange;
    font-weight: bolder;
}

.qualified {
    color: green;
    font-weight: bolder;
}

.inline {
	display: inline;
}

.big-button {
    margin: 10px 10px 10px 10px;
}

.big {
    font-size: larger;
}

/* Formularz logowania */

.signin-container .heading,
.signin-container .user-info {
    text-align: center;
    margin: 1em;
}

.btn-facebook { text-shadow: none; background:transparent; color:#1877F2; -webkit-box-shadow:inset 0px 0px 0px 3px #1877F2; -moz-box-shadow:inset 0px 0px 0px 3px #1877F2; box-shadow:inset 0px 0px 0px 3px #1877F2; }
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active { color:#09499b; -webkit-box-shadow:inset 0px 0px 0px 3px #09499b; -moz-box-shadow:inset 0px 0px 0px 3px #09499b; box-shadow:inset 0px 0px 0px 3px #09499b; background: transparent; }

.btn-google { text-shadow: none; background:transparent; color:#dd4b39; -webkit-box-shadow:inset 0px 0px 0px 3px #dd4b39; -moz-box-shadow:inset 0px 0px 0px 3px #dd4b39; box-shadow:inset 0px 0px 0px 3px #dd4b39; }
.btn-google:hover,
.btn-google:focus,
.btn-google:active { color:#96271a; -webkit-box-shadow:inset 0px 0px 0px 3px #96271a; -moz-box-shadow:inset 0px 0px 0px 3px #96271a; box-shadow:inset 0px 0px 0px 3px #96271a; background: transparent; }

/* Program */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-m {
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 28px;
}

.ellipsis {
    text-overflow: ellipsis;
}
