<div class="card mb-3 w-100" id="{{ workshop.name }}" data-register="{% url 'register_to_workshop' workshop.year.pk workshop.name %}" data-unregister="{% url 'unregister_from_workshop' workshop.year.pk workshop.name %}">
  {% if not no_workshop_card_header %}
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h4 class="m-0">
        {% if workshop.page_content_is_public %}<a href="{% url 'workshop_page' workshop.year.pk workshop.name %}">{% endif %}
        {% if workshop.status == 'X' %}<del>{% endif %}
        <b>{{ workshop.title }}</b>
        {% if workshop.status == 'X' %}</del>{% endif %}
        {% if workshop.page_content_is_public %}</a>{% endif %}
        {% if workshop.status == 'X' %}&nbsp;&nbsp;<span class="text-danger">(odwołane)</span>{% endif %}
        </h4>
      </div>
      <div class="col-12 col-lg-4 text-right mt-2 mt-lg-0">
        <h5 class="m-0">
        {% for lecturer in workshop.lecturer.all %}
          <span class="d-inline-block"> {# this makes it so that line breaks are preferred at the point of the comma, not in the middle of the name #}
            <a href="{% url 'profile' lecturer.user.id %}">{{ lecturer }}</a>{% if not forloop.last %},{% endif %}
          </span>
        {% endfor %}
        </h5>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="card-body">
    {% if workshop.short_description %}
    <div class="row">
      <div class="col-md-10">
        <blockquote class="blockquote">
          {{ workshop.short_description }}
        </blockquote>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-10">
        <div class="row mt-2 mb-3">
          <div class="col-6 col-lg-4">Zadania kwalifikacyjne:</div>
          <div class="col-6 col-lg-8">
            {% if workshop.is_qualifying %}
              <span class="d-inline-block w-100-on-sm mb-1 mb-md-0 qualification-problems-button"
                {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
                {% if not workshop.qualification_problems %}data-toggle="tooltip" data-placement="right" title="Zadania kwalifikacyjne pojawią się wkrótce"{% endif %}
              >
                <a role="button"
                   class="btn btn-dark btn-sm w-100-on-sm {% if not workshop.qualification_problems %}disabled{% endif %}"
                   href="{% url 'qualification_problems' workshop.year.pk workshop.name %}" target="_blank">
                  <i class="fas fa-tasks"></i> Wyświetl
                </a>
              </span>

              {% if workshop.can_access_solution_upload and workshop.are_solutions_editable %}
                <span class="{% if not no_workshop_card_header %}d-none d-md-inline-block{% else %}d-inline-block{% endif %} w-100-on-sm mb-1 mb-md-0 solutions-button"
                    {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
                    {% if not registered %}data-toggle="tooltip" data-placement="right" title="Przed przesłaniem rozwiązań, zapisz się na warsztaty"{% endif %}
                >
                  <a role="button"
                     class="btn btn-primary btn-sm w-100-on-sm {% if not registered %}disabled{% endif %}"
                     href="{% url 'workshop_my_solution' workshop.year.pk workshop.name %}">
                    <i class="fas fa-paper-plane"></i> Prześlij<span class="d-none d-xl-inline"> rozwiązania</span>!
                  </a>
                </span>
              {% endif %}
            {% else %}
              Na te warsztaty nie ma kwalifikacji. Nie liczą się do puli wymaganych zgłoszeń.
            {% endif %}
          </div>
        </div>

        <div class="row mt-2 mb-3">
          <div class="col-6 col-lg-4">Kategorie:</div>
          <div class="col-6 col-lg-8">
            {% for category in workshop.category.all %}
            <span class="badge badge-secondary">{{ category.name }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center button-div {% if not no_workshop_card_header %}d-none d-md-block{% endif %}">
        {% if workshop.is_qualification_editable %}
          {% if registered %}
            <div onclick="handle_registration_change('{{ workshop.name }}', false);" style="cursor: pointer;">
              <button class="btn btn-warning btn-circle" type="button">
                <i class="fas fa-minus"></i>
              </button>
              <br/>
              <h5 class="text-default mt-3 mb-0">Wypisz się</h5>
            </div>
          {% else %}
            <div onclick="handle_registration_change('{{ workshop.name }}', true);" style="cursor: pointer;">
              <button class="btn btn-success btn-circle" type="button">
                <i class="fas fa-plus"></i>
              </button>
              <br/>
              <h5 class="text-default mt-3 mb-0">Zapisz się</h5>
            </div>
          {% endif %}
        {% else %}
          {% if registered %}
            <div>
              <button class="btn btn-success btn-circle" type="button" disabled="disabled">
                <i class="fas fa-check"></i>
              </button>
              <br/>
              <h5 class="text-default mt-3 mb-0">Byłeś zapisany</h5>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>