{% if not status %}
  <span class="badge badge-secondary">Nie zgłoszono</span>
{% else %}
  {% if status.type == 'lecturer' %}
    {% if status.status == 'Z' %}
      <span class="badge badge-success">Zaakceptowano jako prowadzącego</span>
    {% elif status.status == 'O' %}
      <span class="badge badge-danger">Odrzucono jako prowadzącego</span>
    {% elif status.status == 'X' %}
      <span class="badge badge-info">Odwołano przyjazd prowadzącego</span>
    {% elif not status.status %}
      <span class="badge badge-warning">Zgłoszono prowadzącego</span>
    {% endif %}
  {% else %}
    {% if status.status == 'Z' %}
      <span class="badge badge-success">Zaakceptowano</span>
    {% elif status.status == 'O' %}
      <span class="badge badge-danger">Odrzucono</span>
    {% elif status.status == 'X' %}
      <span class="badge badge-info">Odwołano przyjazd</span>
    {% elif not status.status %}
      <span class="badge badge-warning">Zgłoszono</span>
    {% endif %}
  {% endif %}
{% endif %}