<!DOCTYPE html>
<html lang="pl">
  {% load static %}
  {% load wwwtags %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wakacyjne Warsztaty Wielodyscyplinarne">

    <meta name="theme-color" content="#46342f">

    <meta property="og:url" content="https://warsztatywww.pl{{ request.path }}" />
    <meta property="og:locale" content="PL_pl" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1522345984699744" />
    <meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% static 'images/fb_image-cut.jpg' %}">
    <meta property="og:description"
          content="WWW to coroczne wydarzenie dla licealistów zainteresowanych matematyką, informatyką, fizyką lub astronomią.">
    {% if title %}
    <title>{{ title }} - WWW</title>
    <meta property="og:title" content="{{ title }} - WWW" />
    {% else %}
    <title>Wakacyjne Warsztaty Wielodyscyplinarne</title>
    <meta property="og:title" content="Wakacyjne Warsztaty Wielodyscyplinarne" />
    {% endif %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/favicon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <link href="{% static 'dist/main.css' %}" rel="stylesheet">
    <link href="{% static 'dist/fonts.css' %}" rel="stylesheet">
    {% block styles %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand d-block d-lg-none" href="{% url 'index' %}">
            <img src="{% static 'images/logo_transparent.png' %}" srcset="{% static 'images/logo_transparent.svg' %}" width="200" alt="Wakacyjne Warsztaty Wielodyscyplinarne">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand d-none d-lg-block" href="{% url 'index' %}">
            <img src="{% static 'images/logo_transparent.png' %}" srcset="{% static 'images/logo_transparent.svg' %}" width="300" alt="Wakacyjne Warsztaty Wielodyscyplinarne">
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">
                <span class="d-none d-lg-block"><i class="fas fa-home"></i></span>
                <span class="d-block d-lg-none">Strona główna</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'program' current_year.pk %}">Program</a>
            </li>

            {% if resources %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Internety
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownResources">
                {% for resource in resources %}
                  <a class="dropdown-item" href="{{ resource.access_url }}">{{ resource.display_name }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %}

            {% if request.user.is_staff or perms.wwwapp.see_all_users or perms.wwwapp.see_all_workshops or perms.wwwforms.see_form_results or perms.wwwapp.export_workshop_registration %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                {% if perms.wwwapp.see_all_users %}
                  <a class="dropdown-item" href="{% url 'participants' current_year.pk %}">Uczestnicy</a>
                  <a class="dropdown-item" href="{% url 'lecturers' current_year.pk %}">Prowadzący</a>
                {% endif %}
                {% if perms.wwwapp.see_all_workshops %}
                  <a class="dropdown-item" href="{% url 'workshops' current_year.pk %}">Warsztaty</a>
                {% endif %}
                {% if perms.wwwforms.see_form_results %}
                  <a class="dropdown-item" href="{% url 'form_list' %}">Formularze</a>
                {% endif %}
                {% if perms.wwwapp.see_all_users %}
                  <a class="dropdown-item" href="{% url 'all_people' %}">Wszyscy ludzie</a>
                  <a class="dropdown-item" href="{% url 'emails' current_year.pk %}">Adresy email</a>
                {% endif %}
                {% if request.user.is_staff or perms.wwwapp.export_workshop_registration or perms.wwwapp.change_article %}
                  <div class="dropdown-divider"></div>
                {% endif %}
                {% if request.user.is_staff %}
                  <a class="dropdown-item" href="{% url 'admin:index' %}">Django admin</a>
                {% endif %}
                {% if perms.wwwapp.change_article %}
                  <a class="dropdown-item" href="{% url 'template_for_workshop_page' %}">Szablon strony warsztatów</a>
                {% endif %}
                {% if perms.wwwapp.export_workshop_registration %}
                  <a class="dropdown-item" href="{% url 'dataForPlan' current_year.pk %}">Dane do planu</a>
                {% endif %}
              </div>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArticles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artykuły
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownArticles">
                {% for article in articles_on_menubar %}
                  <a class="dropdown-item" href="{% url 'article' article.name %}">{{ article.title }}</a>
                {% endfor %}
                {% if perms.wwwapp.add_article %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'article_add' %}">Nowy artykuł</a>
                {% endif %}
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="{% url 'mydata_status' %}">Kwalifikacja</a>
            </li>
          </ul>

          <div class="my-2 my-lg-0">
            {% if user.is_authenticated %}
              <a role="button" class="btn btn-outline-light btn-lg" href="{% url 'mydata_profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
            {% else %}
              <a role="button" class="btn btn-outline-light btn-lg" href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="container {% if selected_year %}with-footer-margin{% endif %}">
      {% if messages %}
        {% for message in messages %}
          <div class="alert{% for tag in message.tags|split:" " %} alert-{{ tag }}{% endfor %} mt-3">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </main>

    {% if selected_year %}
    <footer class="footer">
      <div class="container">
        <nav class="year-navigation" aria-label="Wybór edycji">
          <ul class="pagination">
            {% if request.resolver_match.view_name == 'program' %}
              <li class="page-item">
                <a class="page-link" href="{% url 'article' 'historia' %}">
                  &laquo; Starsze
                </a>
              </li>
            {% endif %}
            {% for year in years %}
              <li class="page-item {% if year == selected_year %}active{% endif %}">
                <a class="page-link" href="{% url request.resolver_match.view_name year.pk %}">
                  {% if year == current_year %}
                    <b>{{ year }}</b>
                  {% else %}
                    {{ year }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </footer>
    {% endif %}

    <div id="csrftoken" style="display: none;">
      {% csrf_token %}
    </div>

    {% include "_analytics.html" %}

    <script src="{% static 'dist/main.js' %}"></script>

    {% block script %}{% endblock %}
  </body>
</html>
