{% extends "base.html" %}

{% load static %}
{% load wwwtags %}

{% block content %}
    <article>
      <h1>{{ title }}</h1>
      <div class="table-responsive">
        <table id="lecturers-table" class="table" style="width:100%!important;" data-order='[[ 1, "asc" ]]'>
          <thead>
            <tr>
              <th data-visible="true"  data-searchable="false" data-orderable="false" data-search-panes='{"show": false}'></th>
              <th data-visible="true"  data-searchable="true"  data-orderable="true"  data-search-panes='{"show": false}'>Imię i nazwisko</th>
              <th data-visible="true"  data-searchable="true"  data-orderable="true"  data-search-panes='{"show": false}'>Email</th>
              <th data-visible="true"  data-searchable="true"  data-orderable="false" data-search-panes='{"show": false}'>Warsztaty</th>
              {% for question in form_questions %}
                <th data-visible="false" data-searchable="{% if question.is_searchable %}true{% else %}false{% endif %}" data-orderable="{% if question.is_orderable %}true{% else %}false{% endif %}" data-search-panes='{"show": false}'>{{ question.form.title }}: {{ question.title }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for person in people %}
              <tr>
                <td>
                </td>
                <td data-order="{{ person.user.last_name }} {{ person.user.first_name }}">
                  <a href="{% url 'profile' person.user.id %}">
                    {{ person.user.get_full_name | question_mark_on_empty_string }}
                  </a>
                </td>
                <td>
                  {{ person.user.email | question_mark_on_empty_string }}
                </td>
                <td>
                  {% for workshop in person.workshops %}
                    <a href="{% url 'workshop_page' workshop.year.pk workshop.name %}">
                      {{ workshop.title }}
                    </a>
                    <br>
                  {% endfor %}
                </td>
                {% for answer in person.form_answers %}
                  <td title="Ostatnia modyfikacja: {% if answer %}{{ answer.last_changed }}{% else %}Nigdy{% endif %}"
                      {% if answer.question.data_type == 'd' %}data-order="{{ answer.value_date | date:"U" }}"{% endif %}>
                    {{ answer.value }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'dist/datatables.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'dist/datatables.js' %}"></script>

  <script>
    $(document).ready(() => {
      const table = $('#lecturers-table').DataTable(gen_datatables_config({
          dom: 'Bfrtipl', // disable SearchPanes, because there are none (this view only shows accepted lecturers, which is kinda inconsistent with the rest...)
      }));
    });
  </script>
{% endblock %}
