{% extends "base.html" %}

{% load static %}
{% load wwwtags %}
{% load l10n %}

{% block content %}
    <article>
      <h1>{{ title }}</h1>
      <div class="table-responsive">
        <table id="participants-table" class="table" style="width:100%!important;" data-order='{% if is_all_people or is_lecturers %}[[ 1, "asc" ]]{% else %}[[ 13, "desc" ], [ 1, "asc" ]]{% endif %}'>
          <thead>
            <tr>
              <th data-visible="true"  data-searchable="false" data-orderable="false" data-search-panes='{"show": false}'></th>
              <th data-visible="true"  data-searchable="true"  data-orderable="true" data-search-panes='{"show": false}'>Imię i nazwisko</th>
              {% if not is_all_people %}
              <th data-visible="{% if not is_lecturers %}true{% else %}false{% endif %}" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>Pełnoletni</th>
              {% endif %}
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>Płeć</th>
              <th data-visible="{% if is_all_people or is_lecturers %}true{% else %}false{% endif %}" data-searchable="true"  data-orderable="true" data-search-panes='{"show": false}'>Email</th>
              <th data-visible="false" data-searchable="true"  data-orderable="true" data-search-panes='{"show": false}'>Szkoła</th>
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>Rok Matury</th>
              {% if not is_all_people %}
              {% if is_lecturers %}
              <th data-visible="true"  data-searchable="true"  data-orderable="false" data-search-panes='{"show": false}'>Warsztaty</th>
              {% else %}
              <th data-visible="true"  data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>Punkty</th>
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}' data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba zapisanych">L.zap.</th>
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}' data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba przesłanych rozwiązań">L.rozw.</th>
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}' data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba sprawdzonych rozwiązań">L.spr.rozw.</th>
              <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}' data-toggle="tooltip" data-container="body" data-placement="top" title="Liczba zakwalifikowanych">L.zak.</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true" data-search-panes='{"show": false}' data-toggle="tooltip" data-container="body" data-placement="top" title="List motywacyjny uzupełniony?">List?</th>
              <th data-visible="true"  data-searchable="true" data-orderable="true" data-search-panes='{"show": true, "initCollapsed": false}'>Status</th>
              {% endif %}
              {% endif %}
              <th data-visible="{% if not is_lecturers %}true{% else %}false{% endif %}"  data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>Poprzednie edycje</th>
              <th data-visible="false" data-searchable="false" data-orderable="false" data-search-panes='{"show": false}'>Skąd wiesz o WWW?</th>
              {% for question in form_questions %}
                <th data-visible="false" data-searchable="{% if question.is_searchable %}true{% else %}false{% endif %}" data-orderable="{% if question.is_orderable %}true{% else %}false{% endif %}" data-search-panes='{"show": false}' data-type="{{ question.datatables_type_hint }}">{{ question.form.title }}: {{ question.title }}</th>
                {% if question.data_type == 'P' %}
                <th data-visible="false" data-searchable="false" data-orderable="true" data-search-panes='{"show": false}'>{{ question.form.title }}: Data urodzenia</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for person in people %}
              <tr>
                <td>
                </td>
                {% if person.user %}
                <td data-order="1 {{ person.user.last_name }} {{ person.user.first_name }}">
                  <a href="{% url 'profile' person.user.id %}">
                    {{ person.user.get_full_name | question_mark_on_empty_string }}
                  </a>
                  {% if not person.has_completed_profile %}
                    <span class="text-warning" data-toggle="tooltip" data-placement="top" title="Niekompletny profil"><i class="fas fa-exclamation-circle"></i></span>
                  {% endif %}
                </td>
                {% else %}
                <td data-order="2 {{ person.email }}">
                  {{ person.email | question_mark_on_empty_string }}
                  <span class="text-info" data-toggle="tooltip" data-placement="top" title="Zainteresowana osoba, która nie założyła konta"><i class="fas fa-exclamation-circle"></i></span>
                </td>
                {% endif %}
                {% if not is_all_people %}
                <td>
                  {{ person.is_adult | qualified_mark }}
                </td>
                {% endif %}
                <td>
                  {{ person.gender }}
                </td>
                <td>
                  {{ person.email | question_mark_on_empty_string }}
                </td>
                <td>
                  {{ person.school }}
                </td>
                <td>
                  {{ person.matura_exam_year | question_mark_on_none_value }}
                </td>
                {% if not is_all_people %}
                {% if is_lecturers %}
                <td>
                  {% for workshop in person.workshops %}
                    <a href="{% url 'workshop_page' workshop.year.pk workshop.name %}">
                      {{ workshop.title }}
                    </a>
                    <br>
                  {% endfor %}
                </td>
                {% else %}
                <td data-order="{{ person.points | unlocalize }}">
                  <a tabindex="0" data-html="true" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Komentarze" data-content="<ul>{% for info in person.infos %} <li> {{ info }} </li> {% endfor %}</ul>">
                    {{ person.points | floatformat }}%
                  </a>
                </td>
                <td>
                  {{ person.workshop_count }}
                </td>
                <td>
                  {{ person.solution_count }}
                </td>
                <td data-order="{{ person.checked_solution_percentage | unlocalize }}">
                  {% if person.to_be_checked_solution_count == 0 %}
                    {{ person.checked_solution_count }} / {{ person.to_be_checked_solution_count }}
                  {% elif person.checked_solution_count == person.to_be_checked_solution_count %}
                    <span class="text-success">{{ person.checked_solution_count }} / {{ person.to_be_checked_solution_count }}</span>
                  {% else %}
                    <span class="text-danger">{{ person.checked_solution_count }} / {{ person.to_be_checked_solution_count }}</span>
                  {% endif %}
                </td>
                <td>
                  {{ person.accepted_workshop_count }}
                </td>
                <td>
                  {{ person.has_cover_letter | qualified_mark }}
                </td>
                <td>
                  {% if person.status == 'Z' %}
                    <span class="text-success font-weight-bolder"> {{ person.status_display }} </span>
                  {% elif person.status == 'O' %}
                    <span class="text-danger font-weight-bolder"> {{ person.status_display }} </span>
                  {% elif person.status == 'X' %}
                    <span class="text-info font-weight-bolder"> {{ person.status_display }} </span>
                  {% else %}
                    <span class="font-weight-bolder"> {{ person.status_display|default_if_none:"Brak" }} </span>
                  {% endif %}
                </td>
                {% endif %}
                {% endif %}
                <td data-order="{% for participation in person.participation_data reversed %}{{ participation.year }}:{% if participation.workshops %}2{% elif participation.status == 'Z' %}1{% else %}0{% endif %} {% endfor %}">
                    {% include '_pastParticipation.html' with participation_data=person.participation_data only %}
                </td>
                <td>
                  {{ person.how_do_you_know_about }}
                </td>
                {% for question, answer in person.form_answers %}
                  <td title="Ostatnia modyfikacja: {% if answer %}{{ answer.last_changed }}{% else %}Nigdy{% endif %}"
                      {% if answer.question.data_type == 'd' %}data-order="{{ answer.value_date | date:"U" }}"{% endif %}>
                    {{ answer.value }}
                  </td>
                  {% if question.data_type == 'P' %}
                  <td title="Ostatnia modyfikacja: {% if answer %}{{ answer.last_changed }}{% else %}Nigdy{% endif %}"
                      data-order="{{ answer.pesel_extract_date | date:"U" }}">
                    {{ answer.pesel_extract_date | question_mark_on_none_value }}
                  </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'dist/datatables.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'dist/datatables.js' %}"></script>

  <script>
    $(document).ready(() => {
      $('#participants-table').DataTable(gen_datatables_config({
          filters: {% if is_all_people or is_lecturers %}false{% else %}true{% endif %},
          vcardEnable: true,
          vcardName: "{{ title }}",
      }));
      $('[data-toggle="tooltip"]').tooltip({html: true});  // this is required for tooltips in past participation column to work...
    });
  </script>
{% endblock %}
