{% extends "base.html" %}
{% load wwwtags %}

{% block content %}
    <h2 class="heading">Witaj, istnieje już konto o takich danych:</h2>
    {% for match in matches %}
      <div class="card mb-3 w-100">
        <h3 class="card-header">{{ match.name }} ({{ match.email }})</h3>
        <div class="card-body">
          {% for provider in match.providers %}
          <div class="row">
            <div class="col-md-6">
              {% include "_socialButton.html" with provider=provider next="/accounts/verified/" only %}
            </div>
          </div>
          {% empty %}
          Brak dostępnych metod logowania?! Skontaktuj się z administratorem
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    Twoje połączenie z {{ new_provider | provider_friendly_name | title }} zostanie zapamiętane i od tej pory obie metody logowania będą działać.

    {% if allow_account_creation %}
      <br/>
      To nie Twoje konto?
      <a href="{% url 'finish_merge_verification' %}">
          Kontynuuj (tworząc nowe konto połączone z {{ new_provider | provider_friendly_name | title }})
      </a>
    {% endif %}
{% endblock %}
