{% extends "base.html" %}
{% load wwwtags %}

{% block content %}
  <div class="container signin-container">
    <h2 class="heading">Wybierz metodę logowania: </h2>
    <div class="row">
      <div class="col-md-6" style="padding-bottom: 2em;">
        {% include "_socialButton.html" with provider="facebook" next=request.GET.next only %}
      </div>
      <div class="col-md-6" style="padding-bottom: 2em;">
        {% include "_socialButton.html" with provider="google-oauth2" next=request.GET.next only %}
      </div>
      {% if debug %}
      <div class="col-md-6" style="padding-bottom: 2em;">
        <a href="{% url 'admin:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-default" role="button" style="display: block; box-sizing: border-box; height: 46px; padding: 11px;">
          <div style="height: 24px; line-height: 24px; vertical-align: middle;">
            <span style="display: inline-block; vertical-align: middle; padding-left: 42px; padding-right: 42px;">{{ "Django" | provider_signin_text }}</span>
          </div>
          </a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
