{% extends "base.html" %}
{% load wwwtags %}

{% block content %}
  <div class="container">
    <h2 class="heading">Witaj, istnieje już konto o takich danych:</h2>
    {% for match in matches %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ match.name }} ({{ match.email }})</h3>
        </div>
        <div class="panel-body">
          {% for provider in match.providers %}
          <div class="row">
            <div class="col-md-6">
              {% include "_socialButton.html" with provider=provider next="/accounts/verified/" only %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    Twoje połączenie z {{ new_provider | provider_friendly_name | title }} zostanie zapamiętane i od tej pory obie metody logowania będą działać.

    {% if allow_account_creation %}
      <br/>
      To nie Twoje konto?
      <a href="{% url 'finish_merge_verification' %}">
          Kontynuuj (tworząc nowe konto połączone z {{ new_provider | provider_friendly_name | title }})
      </a>
    {% endif %}
  </div>
{% endblock %}
