{% extends "mydata_base.html" %}
{% load crispy_forms_tags %}

{% block mydata_page_content %}
  <div class="jumbotron">
    <h2>Edycja {{ current_year }}
      <span class="small-on-md">{% include '_statusLabel.html' with status=current_status %}</span>
      {% if current_status and current_status.type == 'participant' and not current_status.status %}
        {% if not has_completed_profile %}
          <span class="badge badge-dark" style="font-size: 50%;">Niekompletny profil</span>
        {% endif %}
        {% if not has_cover_letter %}
          <span class="badge badge-dark" style="font-size: 50%;">Brak listu motywacyjnego</span>
        {% endif %}
      {% endif %}
    </h2>
    {% if not current_status %}
      <div>
        Nie zgłosiłeś się na żadne warsztaty. Przejdź do zakładki <a href="{% url 'program' current_year.pk %}">Program</a>,
        zapisz się na interesujące Cię tematy i rozwiąż na nie zadania kwalifikacyjne. Wypełnij także swój
        <a href="{% url 'mydata_profile' %}">profil</a> i <a href="{% url 'mydata_cover_letter' %}">list motywacyjny</a>.
      </div>
    {% else %}
      {% if current_status.type == 'lecturer' %}
        <p>
          {% if current_status.status == 'Z' %}
              Twoje warsztaty zostały zaakceptowane. Czekaj na dalsze informacje.
          {% elif current_status.status == 'O' %}
              Twoje warsztaty zostały odrzucone.
          {% elif current_status.status == 'X' %}
              Twoje warsztaty były zaakceptowane, ale zostały odwołane.
          {% elif not current_status.status %}
              Twoje warsztaty zostały zarejestrowane w systemie. Poczekaj na decyzję organizatorów.
          {% endif %}
        </p>
      {% else %}
        {% if current_status.status == 'Z' %}
          <p>
            {% if gender == 'F' %}
              Zostałaś zakwalifikowana na warsztaty. Czekaj na dalsze informacje.
            {% else %}
              Zostałeś zakwalifikowany na warsztaty. Czekaj na dalsze informacje.
            {% endif %}
          </p>
        {% elif current_status.status == 'O' %}
          <p>
            Niestety, nie mogliśmy przyjąć Cię na warsztaty w tym roku.
          </p>
        {% elif current_status.status == 'X' %}
          <p>
            {% if gender == 'F' %}
              Zostałaś zakwalifikowana na warsztaty, ale odwołałaś swój przyjazd.
            {% else %}
              Zostałeś zakwalifikowany na warsztaty, ale odwołałeś swój przyjazd.
            {% endif %}
          </p>
        {% elif not current_status.status %}
          {% if not has_completed_profile or not has_cover_letter %}
            <p>
                {% if gender == 'F' %}
                  Zapisałaś się na warsztaty, ale nie wypełniłaś wymaganych danych.
                {% else %}
                  Zapisałeś się na warsztaty, ale nie wypełniłeś wymaganych danych.
                {% endif %}
                Uzupełnij swój <a href="{% url 'mydata_profile' %}">profil</a> i <a href="{% url 'mydata_cover_letter' %}">list motywacyjny</a>.
            </p>
          {% else %}
            <p>
              {% if gender == 'F' %}
                Zgłosiłaś się na warsztaty.
              {% else %}
                Zgłosiłeś się na warsztaty.
              {% endif %}
              Rozwiąż zadania kwalifikacyjne na wybrane przez Ciebie warsztaty, i czekaj na wyniki.
            </p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

    {% if current_status.workshops %}
      <div class="card mb-3 w-100">
        <h4 class="card-header">Twoje warsztaty</h4>
        <div class="card-body p-0">
          {% include '_workshopStatusTable.html' with your_workshops=current_status.workshops %}
        </div>
      </div>
    {% endif %}

    {% if current_status.qualification_results %}
      <div class="card mb-3 w-100">
        <h4 class="card-header">Wyniki kwalifikacji</h4>
        <div class="card-body p-0">
        {% include '_qualificationsTable.html' with your_qualifications=current_status.qualification_results %}
        </div>
      </div>
    {% endif %}

    {% if past_status %}
      <hr>
      <h3>Poprzednie edycje</h3>
      {% for status in past_status %}
        <div class="card mb-3 w-100">
          <h4 class="card-header p-2">
            {{ status.year }}
            {% include '_statusLabel.html' with status=status %}
          </h4>
          <div class="card-body p-0">
            {% if status.workshops %}
              {% include '_workshopStatusTable.html' with your_workshops=status.workshops %}
            {% endif %}
            {% if status.qualification_results %}
              {% include '_qualificationsTable.html' with your_qualifications=status.qualification_results %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
{% endblock %}