{% extends "base.html" %}

{% block content %}
  <h1>{{ title }}</h1>
  <nav class="nav">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-default">Wyloguj <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
      </ul>
      <ul class="nav navbar-nav nav-pills">
        <li class="{% if request.resolver_match.view_name == 'mydata_status' %}active{% endif %}"><a href="{% url 'mydata_status' %}">Status kwalifikacji</a></li>
        <li class="{% if request.resolver_match.view_name == 'mydata_profile' %}active{% endif %}"><a href="{% url 'mydata_profile' %}">Dane ogólne</a></li>
        <li class="{% if request.resolver_match.view_name == 'mydata_cover_letter' %}active{% endif %}"><a href="{% url 'mydata_cover_letter' %}">List motywacyjny</a></li>
        <li class="{% if request.resolver_match.view_name == 'mydata_profile_page' %}active{% endif %}"><a href="{% url 'mydata_profile_page' %}">Strona profilowa</a></li>
        <li class="{% if request.resolver_match.view_name == 'mydata_user_info' %}active{% endif %}"><a href="{% url 'mydata_user_info' %}">Informacje wyjazdowe</a></li>
      </ul>
    </div>
  </nav>
  <article class="col-sm-12">
    {% block mydata_page_content %}
    {% endblock %}
  </article>
{% endblock %}