{% extends "base.html" %}

{% block content %}
  <div class="container">
    <article class="col-sm-12 maincontent">
      <h1>{{ title }}</h1>
      <ul class="pagination">
          <li class="{% if request.resolver_match.view_name == 'mydata_profile' %}active{% endif %}"><a href="{% url 'mydata_profile' %}">Dane ogólne</a></li>
          <li class="{% if request.resolver_match.view_name == 'mydata_profile_page' %}active{% endif %}"><a href="{% url 'mydata_profile_page' %}">Strona profilowa</a></li>
          <li class="{% if request.resolver_match.view_name == 'mydata_cover_letter' %}active{% endif %}"><a href="{% url 'mydata_cover_letter' %}">List motywacyjny</a></li>
          <li class="{% if request.resolver_match.view_name == 'mydata_status' %}active{% endif %}"><a href="{% url 'mydata_status' %}">Status kwalifikacji</a></li>
          <li class="{% if request.resolver_match.view_name == 'mydata_forms' %}active{% endif %}"><a href="{% url 'mydata_forms' %}">Formularze</a></li>
      </ul>

      {% block mydata_page_content %}
      {% endblock %}
    </article>
  </div>
{% endblock %}