{% extends "base.html" %}

{% load static %}
{% load wwwtags %}
{% load l10n %}

{% block content %}
    <article>
      <h1>{{ title }}</h1>
      <div class="table-responsive">
        <table id="participants-table" class="table" style="width:100%!important;" data-order='{% if is_all_people %}[[ 1, "asc" ]]{% else %}[[ 11, "desc" ], [ 1, "asc" ]]{% endif %}'>
          <thead>
            <tr>
              <th data-visible="true"  data-searchable="false" data-orderable="false"></th>
              <th data-visible="true"  data-searchable="true"  data-orderable="true">Imię i nazwisko</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Data Urodzenia</th>
              <th data-visible="{% if is_all_people %}false{% else %}true{% endif %}" data-searchable="false" data-orderable="true">Pełnoletni</th>
              <th data-visible="{% if is_all_people %}true{% else %}false{% endif %}" data-searchable="true"  data-orderable="true">Email</th>
              <th data-visible="false" data-searchable="true"  data-orderable="true">Szkoła</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Rok Matury</th>
              {% if not is_all_people %}
              <th data-visible="true"  data-searchable="false" data-orderable="true">Punkty</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Suma ilości warsztatów</th>
              <th data-visible="false" data-searchable="false" data-orderable="true">Ilość Zakwalifikowanych Warsztatów</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">List motywacyjny</th>
              <th data-visible="true"  data-searchable="false" data-orderable="true">Status</th>
              {% endif %}
              <th data-visible="true"  data-searchable="false" data-orderable="true">Poprzednie edycje</th>
              <th data-visible="false" data-searchable="false" data-orderable="false">Skąd wiesz o WWW?</th>
              {% for question in form_questions %}
                <th data-visible="false" data-searchable="{% if question.is_searchable %}true{% else %}false{% endif %}" data-orderable="{% if question.is_orderable %}true{% else %}false{% endif %}">{{ question.form.title }}: {{ question.title }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for person in people %}
              <tr>
                <td>
                </td>
                <td data-order="{{ person.user.last_name }} {{ person.user.first_name }}">
                  <a href="{% url 'profile' person.user.id %}">
                    {{ person.user.get_full_name | question_mark_on_empty_string }}
                  </a>
                </td>
                <td data-order="{{ person.birth | date:"U" }}">
                  {{ person.birth | question_mark_on_none_value }}
                </td>
                <td>
                  {{ person.is_adult | qualified_mark }}
                </td>
                <td>
                  {{ person.user.email | question_mark_on_empty_string }}
                </td>
                <td>
                  {{ person.school }}
                </td>
                <td>
                  {{ person.matura_exam_year | question_mark_on_none_value }}
                </td>
                {% if not is_all_people %}
                <td data-order="{{ person.points | unlocalize }}">
                  <a tabindex="0" data-html="true" role="button" data-trigger="focus" data-toggle="popover" data-placement="bottom" title="Komentarze" data-content="<ul>{% for info in person.infos %} <li> {{ info }} </li> {% endfor %}</ul>">
                    {{ person.points | floatformat }}%
                  </a>
                </td>
                <td>
                  {{ person.workshop_count }}
                </td>
                <td>
                  {{ person.accepted_workshop_count }}
                </td>
                <td>
                  {{ person.has_letter | qualified_mark }}
                </td>
                <td>
                  {% if person.status == 'Z' %}
                    <span class="qualified"> {{ person.status_display }} </span>
                  {% elif person.status == 'O' %}
                    <span class="not-qualified"> {{ person.status_display }} </span>
                  {% elif person.status == 'X' %}
                    <span class="maybe-qualified"> {{ person.status_display }} </span>
                  {% else %}
                    {{ person.status_display|default_if_none:"Brak" }}
                  {% endif %}
                </td>
                {% endif %}
                <td data-order="{% for participation in person.participation_data reversed %}{{ participation.year }}:{% if participation.workshops %}2{% elif participation.status == 'Z' %}1{% else %}0{% endif %} {% endfor %}">
                    {% include '_pastParticipation.html' with participation_data=person.participation_data only %}
                </td>
                <td>
                  {{ person.how_do_you_know_about }}
                </td>
                {% for answer in person.form_answers %}
                  {% if answer.question.data_type == 'd' %}
                    <td data-order="{{ answer.value_date | date:"U" }}">
                      {{ answer.value_date }}
                    </td>
                  {% else %}
                    <td>
                      {{ answer.value }}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(() => {
      const table = $('#participants-table').DataTable(gen_datatables_config({}));
      $('[data-toggle="tooltip"]').tooltip({html: true});  // this is required for tooltips in past participation column to work...
    });
  </script>
{% endblock %}
