{% extends "base.html" %}
{% load bleach_tags %}

{% block content %}
  <div class="container">
    <div id="profile_content" class="col-sm-12 maincontent" style="display: block;">
      <h1>{{ title }}</h1>

        {% if profile %}
          <table class="table">
            <tbody>
              <tr>
                <th>Edycje WWW:</th>
                <td>
                  {% include '_pastParticipation.html' with participation_data=participation_data only %}
                  {% if perms.wwwapp.change_workshop_user_profile %}
                    {% if has_workshop_profile %}
                      <form method="post" class="inline">
                        {% csrf_token %}
                        <span class="btn-group-xs" role="group">
                          <button type="submit" class="btn btn-default"
                                  name="qualify" value="delete"
                                  onclick="return confirm('Czy na pewno chcesz usunąć kwalifikację?');">
                            Usuń kwalifikację
                          </button>
                        </span>
                      </form>
                    {% else %}
                      <form method="post" class="inline">
                        {% csrf_token %}
                        <span class="btn-group-xs" role="group">
                          <button type="submit" class="btn btn-default"
                                  name="qualify" value="accept"
                                  onclick="return confirm('Czy na pewno chcesz zakwalifikować?');">
                            ✔ Zakwalifikuj
                          </button>
                          <button type="submit" class="btn btn-default"
                                  name="qualify" value="reject"
                                  onclick="return confirm('Czy na pewno chcesz odrzucić?');">
                            ✘ Odrzuć
                          </button>
                        </span>
                      </form>
                    {% endif %}
                    {% endif %}
                </td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>{{ profile.user.email }}
              </tr>
              <tr>
                <th>Płeć:</th>
                <td>{{ profile.get_gender_display }}
              </tr>
              <tr>
                <th>Szkoła lub uniwersytet:</th>
                <td>{{ profile.school }}
              </tr>
              <tr>
                <th>Rok matury:</th>
                <td>{{ profile.matura_exam_year }}
              </tr>
              <tr>
                <th>Skąd wie o WWW:</th>
                <td>{{ profile.how_do_you_know_about }}
              </tr>
            </tbody>
          </table>

          {% if is_my_profile %}
            <a class="btn btn-default pull-right big-button" role=button href="{% url 'edit_my_profile' %}">
              Edytuj
            </a>
          {% endif %}
        {% endif %}

        {% if lecturer_workshops %}
          <h3>Prowadził{% if gender == 'F' %}a{% endif %} warsztaty:</h3>
          <ul>
            {% for workshop in lecturer_workshops %}
              <li>
                {{ workshop.type.year }}:
                {% if workshop.is_publicly_visible %}
                  {% if workshop.page_content_is_public %}
                    <a href="{% url 'workshop_page' workshop.name %}">{{ workshop.title }}</a>
                  {% else %}
                    {% if can_see_all_workshops %}
                      <a href="{% url 'workshop' workshop.name %}">{{ workshop.title }}</a>
                    {% else %}
                      {{ workshop.title }}
                    {% endif %}
                  {% endif %}
                {% else %}
                  <a href="{% url 'workshop' workshop.name %}">{{ workshop.title }}</a>
                {% endif %}
                {% if workshop.status != 'Z' %}
                    <small>({{ workshop.get_status_display | default_if_none:"Propozycja" }})</small>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if profile %}
          {% if profile.cover_letter %}
            <hr/>
            <h3>List motywacyjny</h3>
            {{ profile.cover_letter | bleach }}
          {% endif %}

          {% if profile_page %}
            <hr />
            <h3>Strona profilowa</h3>
          {% endif %}
        {% endif %}

        {{ profile_page | bleach }}
        <hr />

        {% if is_my_profile %}
          <p>
            <em>Twoje szczegółowe dane oraz list motywacyjny są widoczne tylko dla administratorów. Strona profilowa jest publiczna.</em>
          </p>
        {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}

  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip({html: true});
    });
  </script>
{% endblock %}
