{% extends "base.html" %}
{% load static %}
{% load wwwtags %}
{% load crispy_forms_tags %}

{% block content %}
    <article>
      <h2 class="row mt-4">
        <span class="col-12 col-md-9">{{ title }}</span>
        {% if selected_year == current_year %}
        <span class="col-12 col-md-3 d-none d-md-inline-block"
            {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
            {% if selected_year.is_program_finalized %}data-toggle="tooltip" data-placement="left" title="Zgłoszenia warsztatów nie są obecnie aktywne"{% endif %}
        >
          <a role="button"
             class="btn btn-outline-primary btn-block {% if selected_year.is_program_finalized %}disabled{% endif %}"
             href="{% url 'workshops_add' selected_year.pk %}">
            Zgłoś warsztaty! <span class="d-none d-lg-inline"><i class="fas fa-plus"></i></span>
          </a>
        </span>
        {% endif %}
      </h2>
      {% if has_results %}
        <p class="alert alert-info">Twoje rozwiązania zostały ocenione! Sprawdź wyniki w zakładce <a href="{% url 'mydata_status' %}">kwalifikacja</a>.</p>
      {% endif %}

      {% if workshops %}
        {{ categories|json_script:"categories-data" }}

        <!-- Workshop type tabs -->
        {% if workshop_types %}
          <nav class="wwwtabs mb-3 d-flex flex-row" id="workshop-types-tabs" role="tablist">
            {% for wtype, workshop_count in workshop_types %}
            <div class="workshop-type-tab p-2 justify-content-center align-items-center {% if wtype == active_workshop_type %}active{% endif %} d-flex flex-column flex-sm-row"
              role="tab"
              data-type="{{ wtype.name }}">
              {% if wtype.icon %}<i class="{{ wtype.icon }}"></i> {% endif %}
              {{ wtype.plural_name.title }}
              <div>
                <span class="wwwtabs__count">
                {{ workshop_count }}
                </span>
              </div>
            </div>
            {% endfor %}
          </nav>
          {% for wtype, workshop_count in workshop_types %}
            <div class="workshop-type-description {% if wtype != active_workshop_type %}d-none{% endif %}"
              data-type="{{ wtype.name }}">
              {% if wtype.description %}
                  <p>
                    {{ wtype.description }}
                  </p>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}

        <!-- Filtering & search -->
        <div class="card border mb-3">
          <div class="card-body d-flex flex-column gap-2">
              <!-- Search by name -->
              <div class="position-relative">
                <i class="fas fa-search text-primary position-absolute" style="left: 1rem; top: 50%; transform: translateY(-50%);"></i>
                <input class="form-control pl-5 pr-5 py-2 w-100" type="text" id="workshop-search-input" placeholder="Szukaj po nazwie lub opisie...">
              </div>

              <!-- Search by category tags -->
              <div class="d-flex flex-row gap-1 flex-wrap">
                {% for category in categories %}
                  <button class="btn btn-sm category-filter-btn filter-btn" data-category="{{ category }}">
                    {{ category }}
                  </button>
                {% endfor %}
              </div>  

              <!-- Additional filters -->
              <div class="d-flex flex-row gap-1">
                <button class="btn btn-sm filter-btn" id="registered-filter-btn" data-filter="registered">
                  <i class="fas fa-check"></i> Tylko zapisane
                </button>
                <button class="btn btn-sm filter-btn" id="cancelled-filter-btn" data-filter="cancelled">
                  <i class="fas fa-times"></i> Ukryj odwołane
                </button>
              </div>
          </div>
        </div>


        {% if not selected_year.is_program_finalized %}
          <p class="text-info"><i class="fas fa-info-circle"></i> Aktualnie trwają zgłoszenia warsztatów. Poniższy program będzie się jeszcze zmieniał.</p>
        {% endif %}

        <!-- Workshops list -->
        <div>
        {% for workshop, registered in workshops %}
          <div 
          id="{{workshop.name}}-workshop-card"
          class="mb-3 workshop-card {% if active_workshop_type and workshop.type != active_workshop_type %}d-none{% endif %}"
          data-categories="{% for c in workshop.category.all %}{{ c.name }}{% if not forloop.last %},{% endif %}{% endfor %}"
          data-workshop-type="{{ workshop.type.name }}"
          data-registered="{{ registered }}"
          data-status="{{ workshop.status }}"
          >{% include "_programworkshop.html" %}</div>
        {% endfor %}
        </div>
      {% else %}
        <div class="w-100 text-center">
          <p class="p-4">Program nie jest jeszcze dostępny.</p>
        </div>
        {% crispy camp_interest_email_form %}
      {% endif %}

      {% if selected_year == current_year %}
      <div class="d-block d-md-none w-100"
          {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
          {% if selected_year.is_program_finalized %}data-toggle="tooltip" data-placement="top" title="Zgłoszenia warsztatów nie są obecnie aktywne"{% endif %}
      >
        <a role="button"
           class="btn btn-outline-primary btn-block {% if selected_year.is_program_finalized %}disabled{% endif %}"
           href="{% url 'workshops_add' selected_year.pk %}">
          Zgłoś warsztaty! <i class="fas fa-plus"></i>
        </a>
      </div>
      {% endif %}
    </article>
{% endblock %}
