{% extends "base.html" %}
{% load static %}
{% load wwwtags %}

{% block content %}
    <article>
      <h1 class="row">
        <span class="col-12 col-md-9">{{ title }}</span>
        <span class="col-12 col-md-3 d-none d-md-inline-block enable-tooltip"
            {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
            {% if not selected_year.are_proposals_open %}data-toggle="tooltip" data-placement="left" title="Zgłoszenia warsztatów nie są obecnie aktywne"{% endif %}
        >
          <a role="button"
             class="btn btn-outline-primary btn-block {% if not selected_year.are_proposals_open %}disabled{% endif %}"
             href="{% url 'workshops_add' selected_year.pk %}">
            Zgłoś warsztaty! <span class="d-none d-lg-inline"><i class="fas fa-plus"></i></span>
          </a>
        </span>
      </h1>
      {% if has_results %}
        <p class="alert alert-info">Twoje rozwiązania zostały ocenione! Sprawdź wyniki w zakładce <a href="{% url 'mydata_status' %}">kwalifikacja</a>.</p>
      {% endif %}

      {% if workshops %}
        {% for workshop, registered in workshops %}
          <div class="card mb-3 w-100" id="{{ workshop.name }}" data-register="{% url 'register_to_workshop' workshop.year.pk workshop.name %}" data-unregister="{% url 'unregister_from_workshop' workshop.year.pk workshop.name %}">
            <div class="card-header">
              <div class="row">
                <div class="col-12 col-lg-8">
                  <h4 class="m-0">
                  {% if workshop.page_content_is_public %}<a href="{% url 'workshop_page' workshop.year.pk workshop.name %}">{% endif %}
                  {% if workshop.status == 'X' %}<del>{% endif %}
                  <b>{{ workshop.title }}</b>
                  {% if workshop.status == 'X' %}</del>{% endif %}
                  {% if workshop.page_content_is_public %}</a>{% endif %}
                  {% if workshop.status == 'X' %}&nbsp;&nbsp;<span class="text-danger">(odwołane)</span>{% endif %}
                  </h4>
                </div>
                <div class="col-12 col-lg-4 text-right">
                  <h5 class="m-0">
                  {% for lecturer in workshop.lecturer.all %}
                    <span class="d-inline-block"> {# this makes it so that line breaks are preferred at the point of the comma, not in the middle of the name #}
                      <a href="{% url 'profile' lecturer.user.id %}">{{ lecturer }}</a>{% if not forloop.last %},{% endif %}
                    </span>
                  {% endfor %}
                  </h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="row mt-2 mb-3">
                    <div class="col-6 col-lg-4">Zadania kwalifikacyjne:</div>
                    <div class="col-6 col-lg-8">
                      {% if workshop.is_qualifying %}
                        <span class="d-inline-block enable-tooltip w-100-on-sm mb-1 mb-md-0"
                          {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
                          {% if not workshop.qualification_problems %}data-toggle="tooltip" data-placement="right" title="Zadania kwalifikacyjne pojawią się wkrótce"{% endif %}
                        >
                          <a role="button"
                             class="btn btn-dark btn-sm w-100-on-sm {% if not workshop.qualification_problems %}disabled{% endif %}"
                             href="{% url 'qualification_problems' workshop.year.pk workshop.name %}" target="_blank">
                            <i class="fas fa-tasks"></i> Wyświetl
                          </a>
                        </span>

                        {% if workshop.can_access_solution_upload and workshop.are_solutions_editable %}
                          <span class="d-inline-block enable-tooltip w-100-on-sm mb-1 mb-md-0"
                              {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
                              {% if not registered %}data-toggle="tooltip" data-placement="right" title="Przed przesłaniem rozwiązań, zapisz się na warsztaty"{% endif %}
                          >
                            <a role="button"
                               class="btn btn-primary btn-sm w-100-on-sm {% if not registered %}disabled{% endif %}"
                               href="{% url 'workshop_my_solution' workshop.year.pk workshop.name %}">
                              <i class="fas fa-paper-plane"></i> Prześlij<span class="d-none d-xl-inline"> rozwiązania</span>!
                            </a>
                          </span>
                        {% endif %}
                      {% else %}
                        Na te warsztaty nie ma kwalifikacji. Nie liczą się do puli wymaganych zgłoszeń.
                      {% endif %}
                    </div>
                  </div>

                  <div class="row mt-2 mb-3">
                    <div class="col-6 col-lg-4">Kategorie:</div>
                    <div class="col-6 col-lg-8">
                      {% for category in workshop.category.all %}
                      <span class="badge badge-secondary">{{ category.name }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% include '_programworkshop.html' %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        Warsztaty pojawią się w odpowiednim momencie.
      {% endif %}

      <div class="d-block d-md-none w-100 enable-tooltip"
          {# this wrapper div is here to allow the tooltip to work on a disabled element, see https://getbootstrap.com/docs/4.0/components/tooltips/#disabled-elements #}
          {% if not selected_year.are_proposals_open %}data-toggle="tooltip" data-placement="top" title="Zgłoszenia warsztatów nie są obecnie aktywne"{% endif %}
      >
        <a role="button"
           class="btn btn-outline-primary btn-block {% if not selected_year.are_proposals_open %}disabled{% endif %}"
           href="{% url 'workshops_add' selected_year.pk %}">
          Zgłoś warsztaty! <i class="fas fa-plus"></i>
        </a>
      </div>
    </article>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script>
    $('.enable-tooltip').tooltip();
  </script>
{% endblock %}