{% extends "workshopbase.html" %}
{% load wwwtags %}

{% block workshop_page_content %}
  <table class="table">
    <thead>
    <th>Numer</th>
    <th>Imię i nazwisko</th>
    <th>Email</th>
    {% if workshop.is_qualifying %}
    {% if workshop.solution_uploads_enabled %}
    <th>Rozwiązania</th>
    {% endif %}
    <th>Liczba punktów</th>
    <th>Komentarz</th>
    <th></th>
    <th>Zakwalifikowano</th>
    {%  endif %}
    </thead>
    <tbody>
    {% for workshop_participant in workshop_participants %}
      <tr>
        <td class="align-middle">
          {{ forloop.counter }}
        </td>
        <td class="align-middle">
          <a href="{% url 'profile' workshop_participant.user_profile.user.id %}">
            {{ workshop_participant.user_profile.user.get_full_name }}
          </a>
          {% if not workshop_participant.user_profile.is_completed %}
            <span class="text-warning" data-toggle="tooltip" data-placement="top" title="Niekompletny profil"><i class="fas fa-exclamation-circle"></i></span>
          {% endif %}
        </td>
        <td class="align-middle">
          {{ workshop_participant.user_profile.user.email }}
        </td>
        {% if workshop.is_qualifying %}
          {% if workshop.solution_uploads_enabled and not workshop_participant.solution %}
            <td class="align-middle text-center" colspan="4">
              Nie przesłano rozwiązań
            </td>
          {% else %}
            {% if workshop.solution_uploads_enabled %}
              <td class="align-middle">
                <a href="{% url 'workshop_solution' workshop.year.pk workshop.name workshop_participant.solution.pk %}">Otwórz</a>
              </td>
            {% endif %}
            <td style="vertical-align: middle; width: 12.5%;">
              {% if has_perm_to_edit %}
                {{ workshop_participant.form.qualification_result }}
              {% else %}
                {{ workshop_participant.qualification_result | default_if_none:'' }}
              {% endif %}
            </td>
            <td style="vertical-align: middle; width: 20%;">
              {% if has_perm_to_edit %}
                {{ workshop_participant.form.comment }}
              {% else %}
                {{ workshop_participant.comment | default_if_none:'' }}
              {% endif %}
            </td>
            <td style="vertical-align: middle; width: 1px; white-space: nowrap;">
              <input type="hidden" name="id" value="{{ workshop_participant.id }}">
              {% if has_perm_to_edit %}
                <button class="btn btn-outline-primary savePointsButton" style="padding: 6px 12px;"><i class="fas fa-check-circle" style="width: 16px;"></i></button>
              {% endif %}
            </td>
          {% endif %}
          <td class="align-middle qualified-mark">
            {{ workshop_participant.is_qualified | qualified_mark }}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="containter-fluid">
    <div class="form-group">
      <label for="participants_emails">Maile:</label>
      <input id="participants_emails" class="form-control" value="{% for workshop_participant in workshop_participants %}{{ workshop_participant.user_profile.user.email }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
    </div>
  </div>
{% endblock %}
