{% extends "workshopbase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block workshop_page_title %}
  {{ block.super }}
  {% if workshop and perms.wwwapp.change_workshop_status and workshop.is_workshop_editable %}
    <form method="post" class="d-inline">
      {% csrf_token %}
      {% if workshop.status %}
        {% if workshop.status == 'Z' %}
        <span class="btn-group-sm" role="group">
          <button type="submit" class="btn btn-outline-primary"
                  name="qualify" value="cancel"
                  onclick="return confirm('Czy na pewno chcesz odwołać warsztaty?');">
            😞 Odwołaj warsztaty
          </button>
        </span>
        {% elif workshop.status == 'X' %}
        <span class="btn-group-sm" role="group">
          <button type="submit" class="btn btn-outline-primary"
                  name="qualify" value="accept"
                  onclick="return confirm('Czy na pewno chcesz odwołać odwołanie warsztatów?');">
            😊 Jednak będą
          </button>
        </span>
        {% endif %}
        {% if not workshop.year.is_program_finalized %}
        <span class="btn-group-sm" role="group">
          <button type="submit" class="btn btn-outline-primary"
                  name="qualify" value="delete"
                  onclick="return confirm('Czy na pewno chcesz usunąć status warsztatów?');">
            Usuń status
          </button>
        </span>
        {% endif %}
      {% else %}
        {% if not workshop.year.is_program_finalized %}
        <span class="btn-group-sm" role="group">
        <button type="submit" class="btn btn-outline-primary"
                name="qualify" value="accept"
                onclick="return confirm('Czy na pewno chcesz zaakceptować?');">
          <i class="fas fa-check-circle"></i> Zaakceptuj
        </button>
        <button type="submit" class="btn btn-outline-primary"
                name="qualify" value="reject"
                onclick="return confirm('Czy na pewno chcesz odrzucić?');">
          <i class="fas fa-minus-circle"></i> Odrzuć
        </button>
        </span>
        {% endif %}
      {% endif %}
    </form>
  {% endif %}
{% endblock %}

{% block workshop_page_content %}
  {% if not workshop and not has_perm_to_edit %}
      Zgłoszenia warsztatów nie są obecnie aktywne
  {% else %}
    {% if not workshop and not are_proposals_open %}
      <div class="alert alert-warning">
        <strong>Upłynął już termin zgłaszania propozycji warsztatów.</strong>
        Jeśli mimo tego chcesz jeszcze dodać warsztaty, przed wypełnieniem formularza skontaktuj się z organizatorami.
      </div>
    {% endif %}

    {% crispy form %}
  {% endif %}
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'dist/tinymce.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dist/tinymce.css' %}">

  <script>
    /* Hide the qualification settings when the is_qualifying checkbox is disabled */
    $(function() {
      if (! $("input[name='is_qualifying']").is(":checked"))
          $("#qualification_settings").hide();
    });

    $("input[name='is_qualifying']").change(function() {
      if ($(this).is(":checked")) {
        $("#qualification_settings").slideDown(500);
      } else {
        $("#qualification_settings").slideUp(500);
      }
    });
  </script>
{% endblock %}