{% extends "workshopbase.html" %}
{% load bleach_tags %}

{% block workshop_page_content %}
  {% include "_programworkshop.html" with no_workshop_card_header=True %}
  {% if is_lecturer %}
    {% if workshop.is_qualifying and not workshop.qualification_problems %}
      <div class="alert alert-danger" role="alert">Nie wstawiłeś jeszcze zadań kwalifikacyjnych!</div>
    {% endif %}
  {% endif %}

  {% if workshop.page_content_is_public %}
    <div role="tabpanel" style="margin: 1em 0;">
      {{ workshop.page_content | bleach }}
    </div>
  {% elif is_lecturer %}
    <div class="alert alert-danger" role="alert">Nie opublikowałeś jeszcze opisu!</div>
  {% else %}
    <div class="alert alert-info" role="alert">Prowadzący warsztatów nie wstawił jeszcze opisu.</div>
  {% endif %}
{% endblock %}