{% extends "base.html" %}

{% block content %}
  <div class="container">
    <article class="col-sm-12 maincontent">
      <h1>{% block workshop_page_title %}{{ title }}{% endblock %}</h1>

      {% if workshop %}
        {% if has_perm_to_view_details and workshop.is_publicly_visible %}
          <div>
            {% if has_perm_to_edit %}
              <a href="{% url 'workshop_proposal' workshop.name %}">Edycja zgłoszenia</a> |
              <a href="{% url 'workshop_page_edit' workshop.name %}">Edycja strony warsztatów</a> |
            {% else %}
              <a href="{% url 'workshop_proposal' workshop.name %}">Podgląd zgłoszenia</a> |
            {% endif %}
            <a href="{% url 'workshop_page' workshop.name %}">Podgląd strony warsztatów</a> |
            <a href="{% url 'workshop_participants' workshop.name %}">Uczestnicy i ocenianie</a>
          </div>
        {% endif %}

        <h3>Prowadzący: {% for lecturer in workshop.lecturer.all %}<a href="{% url 'profile' lecturer.user.id %}">{{ lecturer }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
        {% if workshop.status == 'X' %}
          <h3 style="color: red;">Te warsztaty są odwołane!</h3>
        {% endif %}

        <hr>
      {% endif %}

      {% block workshop_page_content %}
      {% endblock %}
    </article>
  </div>
{% endblock %}