# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test than deploy

on: 
 push:
  branches: [master]
 pull_request:

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install JS/CSS dependencies
      run: npm install
    - name: Build JS/CSS with webpack
      run: npm run build
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Django check
      run: ./manage.py check
    - name: Django migrations
      run: ./manage.py makemigrations --check --dry-run
    - name: Django test
      run: coverage run ./manage.py test -v 2
    - name: Generate coverage report
      run: coverage xml
    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
        verbose: true
      if: matrix.python-version == 3.8
      
  deploy:
    # The type of runner that the job will run on
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: test
    environment:
      name: production
      url: https://warsztatywww.pl
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo warsztatywww.pl ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBNWqatTc0A9bJT+WmSHOuSpm+a83QcSScetN5KClPbOjtEum1IeA6sU+QXHbTh2TLXYPr2H+/5IoXgFIyPt4NAc= >~/.ssh/known_hosts
          ssh deploy@warsztatywww.pl "$GITHUB_SHA"
